

<style>
  .image-container {
    overflow: hidden;
    width : 250px; /* Set the desired width */
    height: 157px; /* Set the desired height (height after cropping) */
  }
</style>

<style>
  img {
    transform: scale(1); /* Adjust the scale factor to control the zoom level */
  }
</style>
<div class="image-container">
  <img src="https://www.penbaypilot.com/sites/default/files/2021/06/field/image/centerstackedwhite_rgb_norresized.png" alt="UNH Logo" />
</div>

<b style="color:#f9f9fc;">UNH COMPUTING RESOIURCES</b>
